@import url("null.css");
/* ----------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ----------------------------------------- */
.page {
    flex: 1 1 auto;
}
/*-----------------------------------------------*/
.header {
    background-color: rgb(77, 249, 255);
}
.header-body {
    text-align: center;
}
.header-title {
    padding: 25px 0;
    font-size: 30px;
    font-weight: 700;
}
.page-body {
    display: flex;
    justify-content: space-between;
}
.aside-1 {
    flex: 0 1 25%;
    background: rgb(185, 8, 255);
}
.aside-1-body {
    text-align: center;
    padding: 30px;
}
.aside-1-text {
    font-size: 24px;
    font-weight: 700;
}
.main {
    flex: 0 1 50%;
    background: rgb(0, 167, 14);
}
.main-body {
    padding: 30px;
}
.main-content {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
}
.aside-2 {
    flex: 0 1 25%;
    background: rgb(255, 233, 31);
}
.aside-2-body {
    text-align: center;
    padding: 30px;
}
.aside-2-text {
    font-size: 24px;
    font-weight: 700;
}
.footer {
    background-color: rgb(56, 69, 255);
}
.footer-body {
    text-align: center;
}
.footer-title {
    padding: 25px 0;
    font-size: 30px;
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .page-body {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .main {
        flex: 1 1 100%;
        order: 1;
    }
    .aside-2 {
        order: 3;
        flex: 0 1 50%;


    }
    .aside-1 {
        order: 2;
        flex: 0 1 50%;
    }
}
@media screen and (max-width: 1000px) {
    .page-body {
        display: flex;
        flex-wrap: wrap;
    }
    .main {
        flex: 1 1 100%;
        order: 1;
    }
    .aside-1 {
        flex:0 0 50%;
        order: 2;
    }
    .aside-2 {
        flex: 0 0 50%;
        order: 2;
    }

}
