@import url("null.css");
#line {
    min-height: 100px;
    background-color: #01ffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
#line div {
    font: normal 20px Arial;
    flex: 0 1 80px;
    margin: 5px 10px;
    min-width: 400px;
    display: flex;
    border: 1px solid black;
}
a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 1px solid black;
}