body {
    display: flex;
    flex-direction: column;
}

ul {

    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}
li {
    margin:10px;
    font: normal 90px Arial;
    color: white;
    text-align: center;
    background-color: saddlebrown;
    width: 100px;
    height: 100px;

}