@import url("null.css");
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body{
    display: flex;
    flex-direction: column;
}
header { background-color: #01ffff;}
footer{ background-color: #0000fe;}
#aside_1 {
    flex: 1 1 25%;
    background-color: #ff00fe;
}
#aside_2 {
    background-color: #ffff01;
    flex: 1 0 25%;
}
#middlediv{
    flex: 1 1 auto;
}
#main {
    background-color: #99e895;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#center {
    flex: 1 0 50%;
}
