body {
    flex-direction: column;
    display: flex;
}

body>div{
    background-color: steelblue;
    border: 1px solid black;
    margin-bottom: 20px;

}

body>div>div{
    font: normal 30px Arial;
    color: white;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

body>div>div:hover{
    background-color: white;
    color: steelblue;
    transition-duration: 500ms;
}
/* ------------------------------------------------- */

#block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#block2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#block3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#block4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#block4 div{
    justify-content: normal;
}

#block5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#block6 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#block7 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

#block8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#block8 div{
    width: 500px;
    align-items: center;
}
